<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myScripts.js') }}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>


<body class="bgSet">
	<a href="/logout" style="float: right; margin: 10px"><button class="btn btn-primary">Logout</button></a>
  <a href="/welcomeH" style="float: right; margin: 10px"><button class="btn btn-primary">Home</button></a>
  <br>

	<center>
  <div class="displayNotice" style="text-align:center">
		<center>
			<table width="65%" align="center;" style="margin: 0px auto; background-color: var(--lightGrey); padding: 10px; max-width: 500px">
				<tr>
					<td><b>Referenece</b></td>
			    <td><b>Date</b></td>
			    <td><b>Sender</b></td>
					<td><b>Receiver</b></td>
					<td><b>Title</b></td>
          <td><b>Body</b></td>
          <td><b>Status</b></td>
				<tr>
				<br>
				{% for item in data %}
				<tr>
					<td>{{item[0]}}</td>
			    <td>{{item[1]}}</td>
			    <td>{{item[2]}}</td>
					<td>{{item[3]}}</td>
					<td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
          <td>{{item[6]}}</td>
					<td><button class="btn btn-danger" id={{item[0]}} onclick='javascript: deleteNotice("{{item[0]}}")'><i class="fa fa-pencil" style="font-size: 15px"></i></button></td>
				<tr>
				{% endfor %}
			</table>
		</center>
	</div>
</center>

	<center>
  <div class="form-group roundCorner" style="text-align:center;margin-top:20px; background-color: var(--lightGrey); padding: 10px; max-width: 500px">
    <form action="{{ url_for('recordNotice') }}" method="post" style="margin-top:100px;	">
				<h3>Create Notice</h3>
        <label for="ref_no" style="text-align:center;">Referenece Number</label><br>
        <input id="ref_no" name="ref_no"></input>
        <br>
        <label for="to" style="text-align:center;">To</label><br>
        <input id="to" name="to"></input>
        <br>
        <label for="title" style="text-align:center;">Title</label><br>
        <input id="title" name="title"></input>
        <br>
        <label for="body" style="text-align:center;">Body</label><br>
        <textarea id="body" name="body" style="height:50px;"></textarea>


        <br>
        <input type="submit" value="Submit">
    </form>
  </div>
</center>

<script>
  function deleteNotice(id){
    var request = new XMLHttpRequest();
		var id = id;
		alert(id)
    request.open("GET", "/deleteNotice/"+id);
    request.send();
  }
</script>

</body>
</html>
