<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myScripts.js') }}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>


<body class="bgSet">
	<a href="/logout" style="float: right; margin: 10px"><button class="btn btn-primary">Logout</button></a>
	<br><br><br>

	<button type="button" class="btn btn-warning">Responsibilty</button>
  <button type="button" class="btn btn-warning" onclick="displayFlatOwner()">View Flat Owner</button>
	<a href="/viewIncomeExpenditure"><button type="button" class="btn btn-warning">View Income & Expenditure</button></a>
	<button type="button" class="btn btn-warning" onclick="viewComplaint()">View Complaint</button>
	<a href="/showNotice"><button type="button" class="btn btn-warning">View Notice</button></a>
	<button type="button" class="btn btn-warning">Approve Expenditure/Work</button>

	<script>

			function approveProfile(){
				window.location.href='/approveProfile';
			}

			function displayFlatOwner(){
				window.location.href='/displayFlatOwner';
			}

			function viewComplaint(){
				window.location.href='/viewComplaint';
			}
			function approveNotice(){
				window.location.href='/approveNotice';
			}
	</script>

</body>
</html>
