<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myScripts.js') }}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>


<body class="bgSet">
	<a href="/logout" style="float: right; margin: 10px"><button class="btn btn-primary">Logout</button></a>
	<a href="/welcomeH" style="float: right; margin: 10px"><button class="btn btn-primary">Home</button></a>
	<br><br><br>

  <!-- <button type="button" class="btn btn-warning">responsibilty</button> -->
  <!-- <button type="button" class="btn btn-warning">Upload and Verify Docs</button> -->
  <button type="button" class="btn btn-warning" onclick="createProfile2()">User Profile Management</button>
  <a href="/financialStatus"><button type="button" class="btn btn-warning">Financial Status</button></a>
  <a href="/viewMaintenance"><button type="button" class="btn btn-warning">Dues</button></a>
  <a href="/viewIncomeExpenditure"><button type="button" class="btn btn-warning">Income Expenditure</button></a>
  <button type="button" class="btn btn-warning" onclick="secretaryViewComplaint()">View/Change complaint status</button>
  <button type="button" class="btn btn-warning" onclick="createNotice()">C/V/U/D Notices/Letters</button>


<script>
	function secretaryViewComplaint(){
		window.location.href='/secretaryViewComplaint';
	}
	function createNotice(){
		window.location.href='/createNotice'
	}
	function createProfile2(){
		window.location.href='/createProfile2'
	}
</script>

</body>
</html>
