<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myScripts.js') }}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>


<body class="bgSet">
	<a href="/logout" style="float: right; margin: 10px"><button class="btn btn-primary">Logout</button></a>
	<br>

  <button type="button" class="btn btn-warning">responsibilty</button>
  <button type="button" class="btn btn-warning">Income Expenditure statement</button>
  <button type="button" class="btn btn-warning">Monthly Maintainace charges</button>
  <button type="button" class="btn btn-warning">Financial Status</button>
  <button type="button" class="btn btn-warning">Dues</button>
  <button type="button" class="btn btn-warning">Other Expense</button>
  <button type="button" class="btn btn-warning">Balance sheets</button>
  <button type="button" class="btn btn-warning">Regular Payment</button>

</body>
